/**
    Name: catppuccin-mocha
    unofficial
 */


.cm-s-catppuccin-mocha.CodeMirror, .cm-s-catppuccin-mocha .CodeMirror-gutters {
  background-color: #1e1e2e !important;
  color: #8aadf4 !important;
  border: none;
}
.cm-s-catppuccin-mocha .CodeMirror-gutters { color: #f1fa8c; }
.cm-s-catppuccin-mocha .CodeMirror-cursor { border-left: solid thin #f1fa8c; }
.cm-s-catppuccin-mocha .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-catppuccin-mocha .CodeMirror-selected { background: #303446; }
.cm-s-catppuccin-mocha .CodeMirror-line::selection, .cm-s-catppuccin-mocha .CodeMirror-line > span::selection, .cm-s-catppuccin-mocha .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-catppuccin-mocha .CodeMirror-line::-moz-selection, .cm-s-catppuccin-mocha .CodeMirror-line > span::-moz-selection, .cm-s-catppuccin-mocha .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-catppuccin-mocha .CodeMirror-line::selection, .cm-s-catppuccin-mocha .CodeMirror-line > span::selection, .cm-s-catppuccin-mocha .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-catppuccin-mocha .CodeMirror-line::-moz-selection, .cm-s-catppuccin-mocha .CodeMirror-line > span::-moz-selection, .cm-s-catppuccin-mocha .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-catppuccin-mocha span.cm-comment { color: #9898b4; }
.cm-s-catppuccin-mocha span.cm-string, .cm-s-catppuccin-mocha span.cm-string-2 { color: #a6da95; }
.cm-s-catppuccin-mocha span.cm-number { color: #f5bde6; }
.cm-s-catppuccin-mocha span.cm-variable { color: #a6da95; }
.cm-s-catppuccin-mocha span.cm-variable-2 { color: white; }
.cm-s-catppuccin-mocha span.cm-def { color: #f5bde6; }
.cm-s-catppuccin-mocha span.cm-operator { color: #b8bde6; }
.cm-s-catppuccin-mocha span.cm-keyword { color: #bd93f9; }
.cm-s-catppuccin-mocha span.cm-atom { color: #bd93f9; }
.cm-s-catppuccin-mocha span.cm-meta { color: #eed49f; }
.cm-s-catppuccin-mocha span.cm-tag { color: #a6da95; }
.cm-s-catppuccin-mocha span.cm-attribute { color: #f5bde6; }
.cm-s-catppuccin-mocha span.cm-qualifier { color: #8aadf4; }
.cm-s-catppuccin-mocha span.cm-property { color: #66d9ef; }
.cm-s-catppuccin-mocha span.cm-builtin { color: #bd93f9; }
.cm-s-catppuccin-mocha span.cm-variable-3, .cm-s-catppuccin-mocha span.cm-type { color: #ed8796; }

.cm-s-catppuccin-mocha .CodeMirror-activeline-background { background: #303446; }
.cm-s-catppuccin-mocha .CodeMirror-matchingbracket { text-decoration: underline; color: #ed8796 !important; }
